@keyframes rotate {
    0% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}
@keyframes rotateMore {
    0% {
        transform: rotate(8deg) scale(1.17);
    }
    50% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(-6deg) scale(1.1);
    }
}
@keyframes rotateMost {
    0% {
        transform: rotate(14deg) scale(1.26);
    }
    50% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(-12deg) scale(1.3);
    }
}
@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes vertical {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
.rotate-text-container {
    position: relative;
    font-family:
        system-ui,
        -apple-system,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #fc5c7d, #6a82fb, #05dfd7);
    background-size: 600% 400%;
    animation: gradientBackground 10s ease infinite;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.emoji-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.emoji {
    position: relative;
    display: grid;
    font-size: 80px;
    margin: 0px 30px;
}
.emoji.left div {
    animation-direction: alternate;
}
.emoji.right div {
    animation-direction: alternate-reverse;
}
.emoji div, .emoji div {
    grid-column: 1;
    grid-row: 1;
}

.stagger-0 {
    animation: rotate ease-in-out 2s infinite alternate;
    animation-delay: 0ms;
    z-index: 3;
}
.stagger-1 {
    animation: rotateMore ease-in-out 2s infinite alternate;
    animation-delay: 250ms;
    z-index: 2;
    opacity: 50%;
}
.stagger-2 {
    animation: rotateMost ease-in-out 2s infinite alternate;
    animation-delay: 500ms;
    z-index: 1;
    opacity: 20%;                    
}

.underline {
    text-decoration: underline;
}

.rotate-text {
    // font-size: 23px;
    z-index: 5;
    margin: 0;
    line-height: 1.3;
    letter-spacing: 1px;
    // text-transform: uppercase;
    text-shadow:
        0 1px 0 #efefef,
        0 2px 0 #efefef,
        0 3px 0 #efefef,
        0 4px 0 #efefef,
        0 12px 5px rgba(0, 0, 0, 0.1);
    animation: rotate ease-in-out 1s infinite alternate;
}

.rotate-text-container {
    p {
        width: 100%;
        z-index: 5;
        letter-spacing: 5px;
        font-size: 20px;
        text-shadow: 0 1px 0 #efefef;
        animation: 2s ease 0s normal forwards 1 fadeIn;
    }
}