@keyframes prettyHeaderRotate {
  0% {
    transform: rotate(0.25deg);
  }
  100% {
    transform: rotate(-0.25deg);
  }
}
@keyframes prettyHeaderRotateMore {
  0% {
    transform: rotate(8deg) scale(1.17);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(-6deg) scale(1.1);
  }
}
@keyframes prettyHeaderRotateMost {
  0% {
    transform: rotate(14deg) scale(1.26);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(-12deg) scale(1.3);
  }
}
@keyframes prettyHeaderGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes prettyHeaderFadeIn {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pretty-header-container {
  position: relative;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: var(--pretty-header-height, 140px);
  border-radius: 10px;
  color: white;
  text-align: center;
}
.pretty-header-container h1 {
  font-size: 40px;
  z-index: 5;
  margin: 0;
  line-height: 1.3;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef, 0 4px 0 #efefef, 0 12px 5px rgba(0, 0, 0, 0.1);
  animation: prettyHeaderRotate ease-in-out 1s infinite alternate;
}
.pretty-header-container p {
  width: 100%;
  z-index: 5;
  letter-spacing: 5px;
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
  text-shadow: 0 1px 0 #efefef;
  animation: prettyHeaderFadeIn 2s ease 0s normal forwards 1;
}

.pretty-header-emoji-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}

.pretty-header-emoji {
  position: relative;
  display: grid;
  font-size: 80px;
  margin: 0 30px;
}
.pretty-header-emoji.left div {
  animation-direction: alternate;
}
.pretty-header-emoji.right div {
  animation-direction: alternate-reverse;
}
.pretty-header-emoji div {
  grid-column: 1;
  grid-row: 1;
}

.pretty-header-stagger-0 {
  animation: prettyHeaderRotate ease-in-out 2s infinite alternate;
  animation-delay: 0ms;
  z-index: 3;
}

.pretty-header-stagger-1 {
  animation: prettyHeaderRotateMore ease-in-out 2s infinite alternate;
  animation-delay: 250ms;
  z-index: 2;
  opacity: 0.5;
}

.pretty-header-stagger-2 {
  animation: prettyHeaderRotateMost ease-in-out 2s infinite alternate;
  animation-delay: 500ms;
  z-index: 1;
  opacity: 0.2;
}