.secret-button-wrap {
    display: inline-flex;
    // position: relative;
    min-height: 2.5rem;
    align-items: center;
    justify-content: center;
}

.secret-button {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: scale(0.95);

    .secret-button-visible & {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }
}

